:root { 
  --border-width: 1px;
  --black: #000000;
  --white: #FFFFFF;
  --text-color: #05438f;
  --text-bg: #e2dfdc;
  --light-grey: #bfbfbf;
  --black-screen: rgba(0,0,0,.9);
  --lt-grey: #ececec;
  --border-black: var(--border-width) solid var(--black);
  --border-white: var(--border-width) solid var(--white);
}

/* BG COLOR OVERIDES */
.bg-black {
  background-color: var(--black)!important;
}

.bg-white {
  background-color: var(--white)!important;
}

.bg-text {
  background-color: var(--text-bg)!important;
}

/* TYPE COLOR OVERIDES */
.black {
  color: var(--black)!important;
}
.white {
  color: var(--white)!important;
}
.text {
  color: var(--text-color)!important;
}
