/* VIDEO PLAYER */
.video-embed {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow-y: visible;
  position: relative;
  z-index: 100;
}

.video-embed > div,
.video-embed > div > iframe,
.video-embed > div > video,
.video-wrapper  {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.video-embed iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
