.font-a {
  font-family: var(--font-a);
  font-style: var(--font-style-a);
  font-weight: var(--font-weight-a);
}

.font-b {
  font-family: var(--font-b);
  font-style: var(--font-style-b);
  font-weight: var(--font-weight-b);
}

.stroke-type-bw {
  color: var(--white);
  -webkit-text-fill-color: var(--white);
  -webkit-text-stroke-color: var(--black);
  -webkit-text-stroke-width: 1px;
  -webkit-font-smoothing: antialiased;
}

/* TYPOGRPAHY */
a,
button,
select,
.button-init,
.link {
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  -webkit-appearance: none;
  border: 0;
  background-color: rgba(255,255,255,0);
  text-decoration: none!important;
  position: relative;
  display: inline-block;
  color: var(--black);
  cursor: pointer;
}

button,
select,
.button-init {
  border-radius: 0;
  appearance: none;
  padding: 0;
}

a:hover,
button:hover,
select:hover,
.button-init:hover {
  text-decoration: none;
}

.xl-size {
  letter-spacing: 1px;
  font-size: var(--xl-size)!important;
  line-height: 1;
}

.big-size {
  letter-spacing: 1px;
  font-size: var(--big-size);
  line-height: 1;
}

.reg-size {
  font-size: var(--reg-size);
}

.sm-size {
  font-size: var(--sm-size);
}

.micro-size {
  font-size: var(--micro-size);
}

h1,
.h1 {
  letter-spacing: 1px;
  font-size: var(--h1);
  line-height: 1;
}

h2,
.h2 {
  font-size: var(--h2);
  line-height: 1.25;
}

h3,
.h3 {
  font-size: var(--h3);
  line-height: 1.25;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-style: var(--font-style-a);
  font-weight: var(--font-weight-a);
  font-family: var(--font-a);
  text-transform: uppercase;
  color: var(--black);
}

h4,
.h4,
h5,
.h5 {
  font-family: var(--font-a);
  font-style: var(--font-style-a);
  font-weight: var(--font-weight-a);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--black);
  line-height: 1.1;
}

h4,
.h4 {
  font-size: var(--h4);
}

h5,
.h5 {
  font-size: var(--h5);
  line-height: 1.25;
}

h6,
.h6 {
  font-family: var(--font-a);
  font-style: var(--font-style-a);
  font-weight: var(--font-weight-a);
  text-transform: uppercase;
  font-size: var(--h6);
  letter-spacing: 1px;
  color: var(--black);
}

.small-uppercase {
  font-size: var(--h6);
  font-family: var(--font-a);
  font-style: var(--font-style-a);
  font-weight: var(--font-weight-a);
  text-transform: uppercase;
}

.micro {
  font-size: var(--micro);
  font-family: var(--font-b);
  font-style: regular;
  text-transform: uppercase;
}

p,
.p {
  font-family: var(--font-b);
  font-style: var(--font-style-b);
  font-weight: var(--font-weight-b);
  font-size: var(--p_med);
  line-height: 1.45;
  padding-bottom: var(--pad-double);
}

p:last-child,
.p:last-child {
  padding-bottom: 0;
}

.p-sm {
  font-family: var(--font-b);
  font-size: var(--p_sm);
}

.p-lg {
    font-style: var(--font-style-b);
  font-size: var(--p_lg);
}

b,
.bold {
  font-weight: 700!important;
  letter-spacing: 1px;
}

.mega {
  font-size: var(--mega);
  line-height: .8;
}

i,
.italic {
  font-style: italic;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.line-height-sm {
  line-height: 1;
}

.line-height-med {
  line-height: 1.25;
}

.line-height-lg {
  line-height: 1.5;
}

.displayer {
  position: relative;
  color: var(--text-color);
}

.displayer > p {
  font-family: var(--font-a);
  font-size: var(--micro-size);
  padding-bottom: var(--pad-micro);
  overflow-y: scroll;
}

pre {
  text-align: start;
  padding: var(--pad-micro);
  font-size: var(--micro-size)!important;
  line-height: 1.25;
  border-radius: 5px;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  border: 1px solid var(--black);
  background-color: var(--white);
  color: var(--black)!important;
  overflow-y: scroll;
}

.link-style-a {
  cursor: pointer;
  display: inline-block;
  color: var(--text-color);
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: var(--pad-single);
  padding-bottom: 0;
}

.link-style-a > span {
  border-bottom: 1px dashed var(--light-grey);
  padding-bottom: 2px;
}

blockquote {
  quotes: "\201C""\201D""\2018""\2019"!important;
  padding-left: 2rem;
}

blockquote:before {
  color: var(--text-color);
  content: open-quote;
  font-size: var(--h1);
  line-height: 0.1rem;
  margin-right: 0.5rem;
  vertical-align: -2rem;
}

blockquote > p {
  display: inline;
}

.text-shadow {
  text-shadow: 0px 8px rgba(0,0,0,0.25)
}

.lozenge-button {
  font-family: var(--font-a);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-black);
  background-color: var(--white);
  filter: var(--shadow);
  color: var(--black);
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  position: relative;
  letter-spacing: 1px;
  font-size: var(--md-size);
  padding: var(--pad-single) var(--pad-double);
  margin-right: var(--pad-single);
  margin-bottom: var(--pad-single);
  border-radius: 50rem;
}

.lozenge-button.small {
  padding: .5rem var(--pad-micro)!important;
  font-size: var(--sm-size);
}

@media (hover: hover) {
  .lozenge-button:hover {
    background-color: var(--black);
    color: var(--white);
  }
}