/* DEFAULTS */
:root { 
  --base-unit: 2rem;
  --pad-single: var(--base-unit);
  --pad-double: calc(var(--pad-single) * 2);
  --pad-big: calc(var(--pad-single) * 4);
  --pad-micro: calc(var(--pad-single)  / 2);
  --max-width-small: 62rem;
  --max-width-medium: 80rem;
  --max-width-large: 96rem;
  --max-width-xl: 140rem;
  --header-height: 16rem;
  --footer-height: 16rem;
}

/* TYPOGRAPHY */
:root { 
  --sm-size: var(--base-unit);
  --reg-size: calc(var(--base-unit) * 1.25);
  --md-size: calc(var(--base-unit) * 2);
  --big-size: calc(var(--base-unit) * 2.75);
  --xl-size: calc(var(--base-unit) * 3.5);
  --h1: var(--big-size);
  --h2: var(--big-size);
  --h3: var(--big-size);
  --h4: var(--md-size);
  --h5: var(--md-size);
  --h6: var(--sm-size);
  --micro: var(--sm-size);
  --p_sm: var(--sm-size);
  --p_med: var(--reg-size);
  --p_lg: var(--big-size);
  --font-a: 'basis', sans-serif;
  --font-b: 'basis', sans-serif;
  --font-weight-a: 600;
  --font-weight-b: 400;
  --font-style-a: regular;
  --font-style-b: regular;
}